---
import { SITE_NAME } from "@/constants";
import { ClientRouter } from "astro:transitions";

// Styles
import "@/styles/global.css";

// Fonts
import { css as lxgw } from "@/assets/fonts/LXGWBrightGB-Regular.ttf";
import { css as klee } from "@/assets/fonts/KleeOne-SemiBold.ttf";

// Components
import SiteAnnouncement from "@/components/SiteAnnouncement.astro";
import SiteFooter from "@/components/SiteFooter.astro";
import SiteHeader from "@/components/SiteHeader.astro";
---

<!doctype html>
<html lang="zh">
  <head>
    <!-- Title slot -->
    <slot name="head-title" />

    <!-- Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head-metas" />

    <!-- Links -->
    <link rel="canonical" href={Astro.url} />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      href="/rss.xml"
      type="application/rss+xml"
      title={SITE_NAME}
    />
    <slot name="head-links" />

    <!-- Styles -->
    <slot name="head-styles" />

    <!-- Anti-proxy -->
    <script
      is:inline
      define:vars={{
        _: [Astro.site!.hostname, "localhost", "127.0.0.1"].map(
          (s: string): string => Buffer.from(s).toString("base64"),
        ),
      }}
    >
      if (!_.includes(window.btoa(location.hostname))) {
        location.href = window.atob(_[0]);
      }
    </script>

    <!-- Vercount -->
    <script
      is:inline
      src="https://events.vercount.one/js"
      data-astro-rerun
      defer></script>

    <!-- Umami statistic -->
    <script
      is:inline
      src="https://cloud.umami.is/script.js"
      data-website-id="2ac88f07-9475-46e2-b56d-269d0aedb342"
      data-astro-rerun
      defer></script>

    <!-- Script slot -->
    <slot name="head-scripts" />

    <!-- View transition -->
    <ClientRouter />
  </head>
  <body style={`--zh-font: ${lxgw.family}; --jp-font: ${klee.family}`}>
    <div class="frame">
      <SiteHeader />
      <SiteAnnouncement />
      <slot />
      <SiteFooter />
    </div>
  </body>
</html>
